
@using TechJobsPersistent.ViewModels
@model AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label >Name</label>
        <input class="form-control" asp-for="JobName">
        <span></span>
    </div>

    <div class="form-group">
        <span><a asp-controller="Employer" asp-action="Add">Add Employer</a></span>
        <br />
        <label asp-for="EmployerId">Employers</label>
        <select placeholder="select Employer" asp-for="EmployerId" asp-items="Model.Employers"></select>
    </div>

    <div class="form-group">
        <a asp-controller="Skill" asp-action="Add">Add Skills</a>
        <br />
        @foreach (var skill in Model.Skills)
        {
            <label>
                @skill.Name
                <input type="checkbox" name="selectedSkills" value="@skill.Id" />
            </label>
        }
    </div>
        

    <input type="submit" value="Add Job" />
</form>

